
<h3>samples ...</h3>

{{#each countries}}
{{ country }} : {{ capital }} </br>
{{/each}}

<form method="post" >

<input type="text" name="txtCountry" id="txtCountry" />
<input type="text" name="txtCapital" id="txtCapital" />

<input type="submit" />

</form>
